.form-container{
    width: 350px;
    height: 550px;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 0px 0px 5px 0px grey;
    position: relative;
    
}
.form{
    padding: 40px;
}
.form h2{
    color: rgb(29, 204, 67);
    font-weight: bolder;
    position: absolute;
    top: 0px;
    left: 100px;

}
.input{
    width: 260px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    transition: 0.2s;
    
}
.input:focus{
    /* border-color: rgb(10, 218, 10); */
    border: 3px solid rgb(15, 199, 15);
}
.errorField{
    /* border-color: rgb(10, 218, 10); */
    width: 260px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    border: 3px solid rgb(250, 0, 0);
}
.errorField:focus{
    /* border-color: rgb(10, 218, 10); */
    border: 3px solid rgb(199, 15, 15);
}
.check{
    position: relative;
    left: 0px;
    top: -55px;
    scale: 1.5;
}
.label{
    color: rgba(56, 56, 56, 0.76);
    position: relative;
    bottom: -10px;
}
.toggmess{
    color: rgba(56, 56, 56, 0.76);
    position: relative;
    bottom: 20px;
}
.button{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color: aliceblue;
    position: relative;
    left: 60px;
    bottom: 30px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(10, 10, 202);
    scale: 1.03;
    border-bottom: 3px solid rgb(11, 217, 224);
}
.err{
    color: rgba(56, 56, 56, 0.76);
    position: relative;
    max-height: fit-content;
    bottom: 15px;
    left: 2px;
}
.capsMessage{
    position: absolute;
    top: 50px;
    right: 40px;
    font-size: 13px;
    color: red;
}
.spaceError1{
    position: absolute;
    top: 208px;
    right: 40px;
    font-size: 13px;
    color: red;
}
.spaceError2{
    position: absolute;
    top: 295px;
    right: 40px;
    font-size: 13px;
    color: red;
}
.spaceError3{
    position: absolute;
    top: 383px;
    right: 40px;
    font-size: 13px;
    color: red;
}