.table{
    background-color: rgb(109, 96, 96);
}

.table th{
    font-size: 30px;
    padding: 1.2rem;
    border: 1px solid gray;
    text-align: center;

}
.table tr{
    text-align: center;
    font-size: 30px;
    
}
.table tr td{
    padding-top: 1.2rem;
}