body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#card {
    width: 520px;
    height: 450px;
    background: linear-gradient(135deg, #1e1e1e, #292929);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: 0.3s;
}

#card:hover {
    box-shadow: 0 0 15px #00c3ff;
}

.title {
    color: #00c3ff;
    font-size: 36px;
    margin-bottom: 55px;
}

#setTime {
    font-size: 28px;
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
    width: 90%;
    color: #00c3ff;
    margin-bottom: 20px;
}
.btn-group {
    margin: auto;
    display: flex;
    justify-content:center;
    gap: 10px;
    text-align: center;
}
button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    font-weight: bold;
    
}
#stop {
    background-color: #ff3b3b;
    color: white;
}

.reset {
    background-color: #ffa500;
    color: white;
}

#start {
    background-color: #28a745;
    color: white;
}
button:hover {
    transform: scale(1.1);
}

#stop:hover {
    background-color: #e60000;
}

.reset:hover {
    background-color: #cc8500;
}

#start:hover {
    background-color: #1e8c35;
}
@media (max-width: 600px) {
    #card {
        width: 90%;
        height: auto;
        padding: 25px;
    }

    .btn-group {
        flex-direction: column;
    }

    button {
        width: 100%;
        padding: 12px;
        margin-top: 5px;
    }
}

/* Icon Animation */
.icon {
    font-size: 50px;
    animation: pulse 1s infinite alternate ease-in-out;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 768px) {
    #setTime {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 480px) {
    #setTime {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 360px) {
    #setTime {
        font-size: 1.2rem;
    }
}