<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styleBox.css">
</head>
<body>
    <header class="header-container">I 9am Header </Header></header>
    <section >
        <div class="section-container">
            <aside class="right-side-container">Right Side Bar</aside> 
            <div class="box-container">
                <div class="box">Box1<br><br>Box1<br><br>Box1<br><br>Box1<br><br>Box1<br><br> </div>
                <div class="box">Box2 Box1<br><br>Box1<br><br>Box1<br><br>Box1<br><br>Box1<br><br></div>
                <div class="box">Box3 Box1<br><br>Box1<br><br>Box1<br><br>Box1<br><br></div>
            </div>
            <aside class="left-side-container">Left Side Bar</aside> 
        </div>
    </section>
    <footer class="footer-container"> I am Footer</footer>
    
</body>
</html>