<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <b>Hello</b> <kbd>this is Parkash Kumar</kbd> being a <em>computer scietist</em> my <i>spacilist</i> in full stack-development.
        I have developed some <mark>web based application</mark> such as &quot; EVS System &quot; etc. BS-CS
        <abbr>BS Computer Science</abbr>
        10<sup>2</sup>=100. 
        <strong>Calculation Sample formate</strong>
        <br>
        => A<sub>1</sub> = 15
        <br>
        => A<sub>2</sub> = 20 <br>
        Fomrula1:<br>
        => B = A<sub>1</sub> + A<sub>2</sub><br>
        => B = 15 + 20<br>
        => B = 35
        <hr>
        Fomrula2:<br>
        C = (A<sub>1</sub> + A<sub>2</sub>)<sup>2</sup><br>
        => (A<sub>1</sub>)<sup>2</sup> + 2A<sub>1</sub>A<sub>2</sub> + (A<sub>2</sub>)<sup>2</sup>
        <br>So here,<br>
        => C = (15 + 20)A<sup>2</sup><br>
        => C = (15)<sup>2</sup> + 2(15)(20) + (20)<sup>2</sup><br>
        => C = 225 + 600 + 400<br>
        => C = 1225 

    </p>
    <hr>
    <pre>
        
        <dt><strong>The World Explore</strong></dt>
            <dd>I am interested to learn new things from work. I love to explore 
            the nature of the world such as:
                1. China's antient places
                2. Amazon Forest mysteriuos creatures
                3. Chronical beasts of the titanic Ocean
                    a) Blue Whale
                    b) Meglodon Shark
                    c) Dolphine      
                4.  History of the Trimid  
            </dd>        
    </pre>

    
</body>
</html>